.tableContainer {
  width: 95%;
  margin: 0 auto;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headingCont {
  text-align: center;
}

.headingCont h1 {
  font-size: 40px;
  font-weight: 600;
  color: #252525;
}

.headingCont h5 {
  font-size: 20px;
  font-weight: 500;
  color: #373737;
}

.tableWrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;

  max-height: 90vh;
  overflow: scroll;

  scrollbar-width: thin;
  scrollbar-color: #f9ed32 transparent;
}

.tableWrapper::-webkit-scrollbar {
  width: 5px;
}

.tableWrapper table {
  min-width: max-content;
  width: 100%;
}

.tableWrapper th {
  position: sticky;
  top: 0;
  background-color: #edededb8;
  color: #252525;
  backdrop-filter: blur(5px);
  border-bottom: 2px solid #252525;
  padding: 15px 20px;
  width: 160px;
  z-index: 2;
  font-size: 20px;
}

.imgContainer {
  height: 210px;
}

.btnContainer {
  text-align: center;
}

.btnContainer button {
  letter-spacing: 1.1px !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  width: 120px !important;
  font-weight: 600 !important;
  background-color: #131313 !important;
}

.btnContainer button:hover {
  background-color: #f9ec32 !important;
  color: #131313 !important;
}

.imgContainer img {
  height: 100%;
  width: 200px;
}

.tableWrapper table thead tr th span {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableWrapper td {
  padding: 10px 20px;
  width: 160px;
  font-weight: 500;
  font-size: 18px;
}

.tableWrapper td p {
  margin: 10px 0;
}

.tableWrapper tbody tr:nth-child(odd) {
  background-color: #373737;
  color: #ededed;
}

.tableWrapper tbody tr:nth-child(even) {
  background-color: #ededed;
  color: #373737;
}

.tableWrapper tbody td:first-child {
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .headingCont h1 {
    font-size: 35px;
  }

  .headingCont h5,
  .tableWrapper th,
  .tableWrapper tbody td:first-child {
    font-size: 18px;
  }

  .tableWrapper td,
  .btnContainer button {
    font-size: 16px !important;
  }
}

@media (max-width: 800px) {
  .imgContainer {
    height: 100%;
  }

  .imgContainer img {
    height: 100%;
    width: 100%;
  }

  .tableWrapper th {
    width: 130px;
  }

  .tableWrapper td {
    width: 130px;
  }
}

@media (max-width: 600px) {
  .tableContainer {
    width: 100%;
    padding: 40px 20px;
  }

  .headingCont h1 {
    font-size: 30px;
  }

  .headingCont h5,
  .tableWrapper th,
  .tableWrapper tbody td:first-child {
    font-size: 16px;
  }

  .tableWrapper td,
  .btnContainer button {
    font-size: 14px !important;
  }
}

@media (max-width: 400px) {
  .tableContainer {
    padding: 40px 10px;
  }
}
